{% load staticfiles %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        <div class="content container">
          <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
          </div>
        </div>
    </body>
{% for post in posts %}
    <div class="post">

        <h1><a href="">{{ post.title }}</a></h1>
        <div class="date">
        <p>Published: {{ post.published_date }}</p>
        </div>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
              </div>
              </div>
    {% endfor %}

        <div>

              <h2><a href="">ONE INDIAN GIRL</a></h2>
              <p>Published: 09.12.2016, 10:30 a.m</p>
              <p>This is my most favourite and cspecial to my heart.</p>

        </div>

        <div>
            <h2><a href="">LIFE OF A GIRL</a></h2>
            <p>Published: 07.01.2017, 05.30 a.m</p>
            <p>Yellow and Blue makes a perfect colour.</p>

        </div>

    </body>
</html>
